BODY {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/index1/body_bg.jpg); MARGIN: 0px; COLOR: #434343; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TABLE {
	FONT-SIZE: 12px; COLOR: #434343; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TD {
	FONT-SIZE: 12px; COLOR: #434343; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana","Arial", "ו"
}
A:link {
	FONT-SIZE: 12px; COLOR: #424242; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #424242; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #424242; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #424242; TEXT-DECORATION: none
}
.menu A:link {
	FONT-SIZE: 12px; COLOR: #4f1f91; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-SIZE: 12px; COLOR: #4f1f91; TEXT-DECORATION: none
}
.menu A:visited {
	FONT-SIZE: 12px; COLOR: #4f1f91; TEXT-DECORATION: none
}
.menu A:active {
	FONT-SIZE: 12px; COLOR: #4f1f91; TEXT-DECORATION: none
}
.zj A:link {
	COLOR: #0d2087; TEXT-DECORATION: none
}
.zj A:visited {
	COLOR: #0d2087; TEXT-DECORATION: none
}
.zj A:active {
	COLOR: #0d2087; TEXT-DECORATION: none
}
.zj A:hover {
	COLOR: #0d2087; TEXT-DECORATION: none
}
.menu2 A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu2 A:hover {
	FONT-SIZE: 12px; COLOR: #f5f5f5; TEXT-DECORATION: none
}
.menu2 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu2 A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu3 A:link {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.menu3 A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.menu3 A:visited {
	FONT-SIZE: 12px; COLOR: #aa0000; TEXT-DECORATION: none
}
.menu3 A:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.menu4 A:link {
	FONT-SIZE: 12px; COLOR: #0d2087; TEXT-DECORATION: none
}
.menu4 A:hover {
	FONT-SIZE: 12px; COLOR: #0d2087; TEXT-DECORATION: none
}
.menu4 A:visited {
	FONT-SIZE: 12px; COLOR: #0d2087; TEXT-DECORATION: none
}
.menu4 A:active {
	FONT-SIZE: 12px; COLOR: #0d2087; TEXT-DECORATION: none
}
.menu5 A:link {
	FONT-SIZE: 12px; COLOR: #fecc04; TEXT-DECORATION: none
}
.menu5 A:hover {
	FONT-SIZE: 12px; COLOR: #fecc04; TEXT-DECORATION: none
}
.menu5 A:visited {
	FONT-SIZE: 12px; COLOR: #fecc04; TEXT-DECORATION: none
}
.menu5 A:active {
	FONT-SIZE: 12px; COLOR: #fecc04; TEXT-DECORATION: none
}
.padding-table {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fff
}
.padding-menu {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND-COLOR: #fff
}
.padding-right {
	PADDING-RIGHT: 10px
}
.padding-left {
	PADDING-LEFT: 47px
}
.padding-left2 {
	PADDING-LEFT: 14px
}
.marign_top {
	MARGIN-TOP: 5px
}
.backgroundbg {
	BACKGROUND-REPEAT: repeat-x; background-positon: top
}
.lan_left {
	COLOR: #4f1f91
}
.zi_left {
	COLOR: #603600
}
.red_left {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ff0000; LINE-HEIGHT: 26px
}
.huang_left {
	COLOR: #ff7800
}
.blue_left {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1a23bb
}
.red_left2 {
	FONT-SIZE: 12px; COLOR: #ff0000
}
.black_left2 {
	FONT-SIZE: 12px; COLOR: #000000
}
.white_left2 {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.white_title {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.blue {
	FONT-SIZE: 12px; COLOR: #1074af
}
.hui_time {
	FONT-SIZE: 11px; COLOR: #adadad
}
P {
	TEXT-INDENT: 2em
}
