BODY {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/lyml/background_pic.jpg); MARGIN: 0px; COLOR: #444444; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TABLE {
	FONT-SIZE: 12px; COLOR: #494949; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TD {
	FONT-SIZE: 12px; COLOR: #494949; LINE-HEIGHT: 20px; FONT-FAMILY: "Verdana","Arial", "ו"
}
.big {
	FONT-SIZE: 14px
}
A:link {
	FONT-SIZE: 9pt; COLOR: #494949; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #494949; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #494949; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #494949; TEXT-DECORATION: none
}
.9p {
	FONT-SIZE: 9pt; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
P {
	TEXT-INDENT: 2em
}
.dh A:link {
	COLOR: #f0f0f0; TEXT-DECORATION: none
}
.dh A:visited {
	COLOR: #f0f0f0; TEXT-DECORATION: none
}
.dh A:active {
	COLOR: #f0f0f0; TEXT-DECORATION: none
}
.dh A:hover {
	COLOR: #f0f0f0; TEXT-DECORATION: none
}
.dh1 A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.dh1 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.dh1 A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.dh1 A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.dhbj {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/lyml/lm_bj1.jpg); BACKGROUND-REPEAT: repeat
}
.zw-bj {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/lyml/zw_img_bj.jpg); BACKGROUND-REPEAT: repeat
}
.copy A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.copy A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.copy A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.copy A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.zclm-bj {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/lyml/zc_img_02a.jpg); BACKGROUND-REPEAT: no-repeat
}
.zc A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.zc A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.zc A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.zc A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.mc A:link {
	COLOR: #343434; TEXT-DECORATION: none
}
.mc A:visited {
	COLOR: #343434; TEXT-DECORATION: none
}
.mc A:active {
	COLOR: #343434; TEXT-DECORATION: none
}
.mc A:hover {
	COLOR: #343434; TEXT-DECORATION: none
}
.wz A:link {
	COLOR: #004983; TEXT-DECORATION: none
}
.wz A:visited {
	COLOR: #004983; TEXT-DECORATION: none
}
.wz A:active {
	COLOR: #004983; TEXT-DECORATION: underline
}
.wz A:hover {
	COLOR: #004983; TEXT-DECORATION: underline
}
.zclm-bt {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004a5a; TEXT-DECORATION: none
}
.zclm-bt1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff; TEXT-DECORATION: none
}
.zc-pic {
	BORDER-RIGHT: #288b9e 1px solid; BORDER-TOP: #288b9e 1px solid; BORDER-LEFT: #288b9e 1px solid; BORDER-BOTTOM: #288b9e 1px solid
}
.input {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; COLOR: #333; BORDER-BOTTOM: #7f9db9 1px solid
}
