/Debug/
/ipch/
*.sdf
*.sln
*.suo
stdafx.h
stdafx.cpp
*.vcxproj
*.vcxproj.filters
ReadMe.txt
targetver.h
.gitignore.bak
/*/Debug/
/*/*/Dubug
*.exe
*.pdb
*.ilk
/*/ipch/
*.idc
*.pch
*.lastbuildstate
*.tlog
*.obj
*.idb
*.log