BODY {
	MARGIN: 0px
}
.p12 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.white {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.keyword {
	FONT-SIZE: 12px; COLOR: #bd4f00; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.jgzn_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/jgzn_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.ztbd_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/ztbd_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.zwgk_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/zwgk_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.zcfg_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/zcfg_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.zsyz_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/zsyz_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.twjmy_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/twjmy_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.lyzx_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/lyzx_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.lypx_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/lypx_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.zjzc_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/zjzc_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.wsbs_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/wsbs_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.wsbg_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/wsbg_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.gztz_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/gztz_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.qyml_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/qyml_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.bmfw_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/bmfw_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.lyjd_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/lyjd_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.ick_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/ick_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.lxs_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/lxs_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.bgfd_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/bgfd_title_title.gif); BACKGROUND-REPEAT: repeat-x
}
.zwgk_news_bg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(images/zwgk_bg1.jpg); BACKGROUND-REPEAT: repeat-x
}
.lypx_news_bg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(images/lypx_bg.jpg); BACKGROUND-REPEAT: repeat-x
}
.bottom_bg {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(images/bottom_bg1.gif); BACKGROUND-REPEAT: repeat-x
}
.jgsz_bg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(images/pic_bg.jpg); BACKGROUND-REPEAT: repeat-x
}
.mail_bg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(images/wsbs_bg1.gif); BACKGROUND-REPEAT: repeat-x
}
.bd {
	BORDER-RIGHT: #fe7800 1px solid; BORDER-TOP: #fe7800 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #fe7800 1px solid; COLOR: #000000; LINE-HEIGHT: 20px; BORDER-BOTTOM: #fe7800 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.search_bd {
	BORDER-RIGHT: #9a6600 1px solid; BORDER-TOP: #9a6600 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #9a6600 1px solid; COLOR: #000000; LINE-HEIGHT: 20px; BORDER-BOTTOM: #9a6600 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f6f09c; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p14white {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p14title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.red {
	FONT-SIZE: 12px; COLOR: red; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.3line {
	BORDER-RIGHT: #979797 1px solid; BORDER-TOP: #979797 1px; BORDER-LEFT: #979797 1px solid; BORDER-BOTTOM: #979797 1px solid
}
.3line1 {
	BORDER-RIGHT: #d0d0d0 1px solid; BORDER-TOP: #d0d0d0 1px; BORDER-LEFT: #d0d0d0 1px solid; BORDER-BOTTOM: #d0d0d0 1px solid
}
