BODY {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bg2.jpg); MARGIN: 0px; COLOR: #767676; LINE-HEIGHT: 18px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TABLE {
	FONT-SIZE: 12px; COLOR: #767676; LINE-HEIGHT: 24px; FONT-FAMILY: "Verdana","Arial", "ו"
}
TD {
	FONT-SIZE: 12px; COLOR: #767676; LINE-HEIGHT: 24px; FONT-FAMILY: "Verdana","Arial", "ו"
}
A:link {
	FONT-SIZE: 12px; COLOR: #01a3af; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #01a3af; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #00c3d1; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #01a3af; TEXT-DECORATION: none
}
.menu A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.menu A:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.menu A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.menu A:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.menu2 A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu2 A:hover {
	FONT-SIZE: 12px; COLOR: #f5f5f5; TEXT-DECORATION: none
}
.menu2 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu2 A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.menu3 A:link {
	FONT-SIZE: 12px; COLOR: #3e3b7f; TEXT-DECORATION: none
}
.menu3 A:hover {
	FONT-SIZE: 12px; COLOR: #5e5ab2; TEXT-DECORATION: underline
}
.menu3 A:visited {
	FONT-SIZE: 12px; COLOR: #3e3b7f; TEXT-DECORATION: none
}
.menu3 A:active {
	FONT-SIZE: 12px; COLOR: #3e3b7f; TEXT-DECORATION: none
}
.padding-table {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fff
}
.padding-menu {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND-COLOR: #fff
}
.padding-right {
	PADDING-RIGHT: 10px
}
.padding-left {
	PADDING-LEFT: 20px
}
.balck_menu {
	COLOR: #000000
}
.balck_menu2 {
	FONT-WEIGHT: bold; COLOR: #000000
}
.red_title {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.white_title {
	COLOR: #fff
}
P {
	TEXT-INDENT: 2em
}
.xu_line {
	BACKGROUND-IMAGE: url(../images/zwgk/xu_line.jpg); LINE-HEIGHT: 24px
}
.table_lineheight {
	LINE-HEIGHT: 18px
}
